
.cinema {
    background-color: brown;
}

.cnm {
    color: white;
    text-align: center;
}

.container {
    text-align: center;
}

.time {
    text-align: center;
    color: white;
}

.link {
    text-align: center;
}

.rscontainer {
    text-align: center;
    background-color: black;
    color: whitesmoke;
}

